In [2]:
import sys
sys.path.append("../scripts/")
from robot import *

m=Map()
m.append_landmark(Landmark(1,0))

distance=[]
direction=[]

for i in range(1000):
    c=Camera(m)
    d=c.data(np.array([0.0,0.0,0.0]).T)
    if len(d)>0:
        distance.append(d[0][0][0])
        direction.append(d[0][0][1])
        
import pandas as pd
df = pd.DataFrame()
df["distance"]=distance
df["direction"]=direction
df

     distance  direction
0    0.926924  -0.082730
1    0.962473   0.003105
2    1.067299  -0.007175
3    0.873789  -0.005630
4    0.879262  -0.016899
..        ...        ...
894  1.161744  -0.071239
895  1.109003   0.024999
896  0.831367  -0.005506
897  1.062306  -0.064455
898  1.061403  -0.035128

[899 rows x 2 columns]

In [3]:
df.std()

distance     0.144468
direction    0.050349
dtype: float64

In [4]:
df.mean()

distance     0.993408
direction   -0.002362
dtype: float64